@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Roboto:wght@100&family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');
:root{
    --primaryColor:#3c69e7 ;
}
*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    /* background-color: #2874f0; */
    background-color: var(--primaryColor);
}
.logo{
    display: flex;
    justify-content: left;
    margin: 0 15px;
}
.logo img{
    width: 180px;
    height: 70px;
    /* padding: 0 10px; */
}
nav{
    display: flex;
    
    align-items: center;
    width: 100vw;
}
.search{
    display: flex;
    justify-content: center;
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 30px;
    padding: 0 12px;
}
.search button{
    width: 60px;
    height: 27px;
    margin: 3px 0;
}
.slider{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    
}

header nav ul{
    display: flex;
    justify-content: center;
}


header nav ul li{
    display: flex;
    list-style: none;
    margin: 0 10px;
    font-size: 20px;

}
header nav ul li :hover{
    font-weight: bolder;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}

.card{
    padding: 25px 25px 0 25px;
}

.cards{
    width: 95vw;
    display: flex;
    margin: 0 50px 0 0;
    padding: 20px;
    overflow: scroll;
    
}
h2{
    
    font-family: 'Ubuntu', sans-serif;
}
.card-item{
    margin: 20px 40px 0 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.lines{
    margin: 20px 0;
}
.slider{
    margin: 20px;
}
footer{

    height: 10vh;
    background-color: var(--primaryColor);
    color: white;
    font-family: 'Bacasime Antique', serif;
}